# Add multiple API keys separated by commas to enable automatic key rotation
# Unless u have credits :)
GEMINI_API_KEYS="your_first_gemini_api_key,your_second_gemini_api_key"

# Alternative: Single Key Backup
# GEMINI_API_KEY="your_single_key"

# cp .env.example .env will copy this over to the right file